@model List<EntityLayer.Concrete.AnimalRequest>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_MemberLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Resim</th>
        <th>İsim</th>
        <th>Yas</th>
        <th>Barınak</th>
        <th>Başvur</th>
    </tr>
    
    @foreach (var item in Model)
    {
        @if (item.Status==true&& item.Animal.Status==true)
        {
            <tr>
                <td>@item.Animal.Image</td>
                <td>@item.Animal.Name</td>
                <td>@item.Animal.Age</td>
                <td>@item.Animal.AnimalHouse.Name</td>
                <td><a href="/Member/Barinak/Details?id=@item.AnimalRequestId" class="btn btn-sucess">Detay</a></td>
            </tr>
        }        
    }
</table>

