@model EntityLayer.Concrete.Animal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_MemberLayout.cshtml";
}

<a class="btn btn-success" href="/Member/Request/AddAnimal">Hayvan Ekle</a>
