@model List<EntityLayer.Concrete.AnimalType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<h6>Türler</h6>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Tür Adı</th>
        <th>Aktif</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnimalTypeId</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
        </tr>

    }
</table>

<a href="/Admin/Type/AddType" class="btn btn-outline-danger">Yeni Kategori Ekle</a>
